<h1>{{title}}</h1> 
<!-- duas chaves referencia uma variavel do typescript componets -->
<!-- <input type="text"[(ngModel)]="title"> -->
<!-- ngmodel atualiza o typescript e o html, sincroniza -->
<mat-form-field appearance="fill">
  <mat-label>Nome</mat-label>
  <input matInput type="text" [(ngModel)]="nome">
  <!-- <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="title''">
    <mat-icon>close</mat-icon>
  </button> -->
</mat-form-field>
<button (click)="lista.push(nome)"> ADD</button>
<div *ngFor="let item of lista">    
  {{item}}

</div>